{% if section.settings.background != blank %}
    <style>
        @media only screen and (min-width: 990px){
            .image-banner{
                background-image: url('{{section.settings.background | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
{% if section.settings.background_mobile != blank %}
    <style>
        @media only screen and (max-width: 989px){
            .image-banner{
                    background-image: url('{{section.settings.background_mobile | img_url: 'master' }}')
            }
        }
    </style>
{% endif %}
<div class="image-banner"></div>
{% schema %}
{
  "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "image_picker",
            "id": "background_mobile",
            "label": "Background Mobile"
        }
    ],
    "presets": [
        {
        "name": "Image Banner"
        }
    ]
}
{% endschema %}