<div class="image-banner" {% if section.settings.background != blank %}
style="background-image: url('{{section.settings.background | img_url: 'master' }}')"{% endif %}></div>
{% schema %}
{
  "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        }
    ],
    "presets": [
        {
        "name": "Image Banner"
        }
    ]
}
{% endschema %}