<section class="page-width-desktop become-block" data-aos="fade-up">
    <div class="become-block__flex">
        {%- for block in section.blocks -%}
            <div class="block-text">
                <h5 class="h5">{{block.settings.title}}</h5>
                {% if block.settings.btn_text != blank %}
                    <a href="{{block.settings.btn_url}}">{{block.settings.btn_text}} {% include 'icon-arrow-right' %}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Become Block",
    "blocks": [
        {
            "type": "block",
            "name": "Block",
            "limit": 2,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Btn text"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Btn Url"
                }
            ]
        }
    ]
}
{% endschema %}
