<div class="body-login_left-side">
    <div class="body-contact_left-side-text">
        <div class="body-contact_left-side-text_title bottom_title">
            {% if section.settings.title != blank %}
                <h2 class="h1">{{section.settings.title}}</h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="body-contact_left-side-placing-email">
    <p class="body-contact_left-side-placing-email__placing add_margin">{{ section.settings.placing }}</p>

{% schema %}
    {
        "name": "loginForm",
        "tag": "section",
        "class": "section",
        "settings": [
    {
            "type": "richtext",
            "id": "title",
            "label": "Title"
    },
    {
            "type":"text",
            "id": "placing",
            "label":"placing"
    }
    ],
        "presets": [
    {
    "name":"loginForm"
    }
    ]
    }
{% endschema %}