<div class="product-show-map page-width-desktop">
    <div class="product-show-map__content">
        {% if section.settings.title != blank %}
            <h4>{{section.settings.title}}</h4>
        {% endif %}
        {% if section.settings.text != blank %}
            <div class="text">{{section.settings.text}}</div>
        {% endif %}
        {% if section.settings.btn_text != blank %}
            <a class="btn-secondary" href="{{section.settings.btn_url}}">{{section.settings.btn_text}} {% include 'icon-map' %}</a>
        {% endif %}
    </div>
</div>
{% schema %}
{
  "name": "Product Show Map",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
        },
        {
            "type": "text",
            "id": "btn_url",
            "label": "Btn Url"
        }
    ]
}
{% endschema %}