<div class="pop_up_password_send">
        <div class="body-pop_up_password_send">
            <h2 class="body-pop_up_password_tittle">{{ 'customer.password_send.title' | t }}</h2>
            <p class="pop_up_password_send_description">{{ 'customer.password_send.subtext' | t }}</p>
            <a href="#login" onclick="ClosedPoUp()" class="btn-secondary">{{ 'customer.password_send.btn' | t }}<span>{% render'icon-ok' %} </span></a>
        </div>
</div>
