<div class="pop_up_password_send">
        <div class="body-pop_up_password_send">
            {% if section.settings.title != blank %}
                <h2 class="body-pop_up_password_tittle">{{section.settings.title}}</h2>
            {% endif %}
            <p class="pop_up_password_send_description">{{ section.settings.description }}</p>
            <a href="#login" class="back_login">Continue<span>{% render'icon-ok' %} </span></a>
        </div>
</div>
{% schema %}
    {
    "name": "Congratulations!",
    "tag": "section",
    "class": "section",
    "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type":"text",
        "id": "description",
        "label":"description"
    }
    ],
    "presets": [
    {
    "name":"Congratulations!"
    }
    ]
    }
{% endschema %}
