
.all-blogs-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14.4rem 0 8rem 0;
  background-color: #F0FBFF;;
}

.all-blogs-title__subtitile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16.6rem;
  height: 3.7rem;
/*   padding: 0.6rem 2rem; */
}

.all-blogs-title__title {
  text-align: center;
  margin: 1.6rem 0 0;
}

.allblogs-sections {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 8rem; 
  margin-bottom: 29.5rem;
}

.allblogs-sections-left {
  position: relative;
  column-gap: 4rem;
  -webkit-column-count: 2;
  column-count: 2;
}
.simple-article.simple-article-style{
  display: inline-block;
  max-width: 40rem;
  width: 100%;
  margin-bottom: 8rem;
}
.allblogs-sections-right{
  min-width: 40rem;
}
.article-pagination {
 position: absolute;
 bottom: -7rem;
 left: 60%;
}

.simple-article__foto {
  position: relative;
}

.article_bage {
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  padding: 1rem 2rem;
  background-color: #339999;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 140%;
  color: #FFFFFF;
}

.simple-article {
  
}

.simple-article__image {
  max-width: 40rem;
  border-radius: 32px;
  margin-bottom: 1.2rem;
}

.simple-article-info__title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 0.8rem;
}
.simple-article-info__date {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #525459;
  margin-bottom: 2.4rem;
}
.article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-footer__left {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.article-footer__icon {
  width: 3.2rem;
}

.article-footer__icon img {
  width: 100%;
  border-radius: 50%;
}

.article-footer__name {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000;
}

.search-article__input {
  height: 6.4rem;
  width: 100%;
  background-color: #FFFFFF;
  border: 2px solid #DEDFE4;
  border-radius: 16px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 180%;
  color: #8A8C91;
}

.search-article__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 180%;
  color: #8A8C91;
} 

.article-icon {
  padding-left: 50px;
  background: url("https://cdn.shopify.com/s/files/1/0552/8682/5006/files/search.png?v=1664221094") no-repeat scroll 20px 50%;
  background-size: 24px;
}

.article-footer__link {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #283c92;
  text-decoration: none;
}

.recent-post {
  margin-top: 4rem;
}

.recent-post__title {
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 140%;
  color: #000000;
}

.recent-post-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
}

.recent-post-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: #F5F6F8;
  border-radius: 1.6rem;
}

.recent-post-item__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 180%;
  color: #000000;
}

.show-more-catagories {
  cursor: pointer;
  margin-top: 4rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
  color: #283C92;
}

.article-template {
  background-image: url('https://cdn.shopify.com/s/files/1/0552/8682/5006/files/Intersect_68eb7379-f5e9-4e02-9a4d-5d72c64bdfae.png?v=1664286551');
  background-position: 50% -30%;
  background-repeat: no-repeat;
}

.all-blogs-title__create {
  margin-top: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 180%;
  color: #000000;
}

.title-width {
  max-width: 800px;
}

.article-template header {
  margin: 0 !important;
}

.page-width--narrow {
  margin: 8rem auto 15.3rem auto !important;
  max-width: 95.8rem !important;
/*   margin-top: 8rem !important; */
}

.article-image,
.article-template__hero-adapt {
  border-radius: 32px;
  height: 555px !important;
}

.article-template__content h1:nth-child(1) {
  font-size: 3.2rem;
  margin: 0;
}

.article-template__content h1 {
  font-size: 2.4rem;
  line-height: 44.8px;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.article-template__content p {
  font-size: 1.8rem;
  color: #525459;
  font-weight: normal;
  margin-top: 1.2rem;
}

@media (max-width: 1920px) {
  .page-width--narrow {
    max-width: 106rem !important;
  }
}
@media (max-width: 989px) {
  .article-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: -10rem;
  }
  .allblogs-sections-right{
    min-width: initial;
  }
  .allblogs-sections-left{
    -webkit-column-count: 1;
    column-count: 1;
  }
  .simple-article.simple-article-style{
    max-width: 100%;
    margin-bottom: 0;
  }
  .article-template>*:first-child:not(.article-template__hero-container) {
    margin-top: 0!important;
  }

  .all-blogs-title__create {
    display: none;
  }

  .article-template__hero-container {
    padding: 0 20px;
  }

  .page-width--narrow {
    padding: 0 20px;
  }

  .article-template__content h1 {
    text-align: center;
    line-height: 130%;
  }
  
  .page-width--narrow {
    margin-top: 4.7rem !important;
  }

  .title-width {
    padding: 0 2rem;
  }

  .all-blogs-title {
    padding: 3.2rem 0 4rem 0;
  }

  .all-blogs-title__subtitile {
    padding: 0.75rem 2rem;
  }

  .all-blogs-title__title {
    font-size: 3.8rem;
    margin: 2rem 0 0;
  }

  .allblogs-sections {
    flex-direction: column;
  }

  .allblogs-sections-left {
    order: 2;
  }

  .allblogs-sections {
    margin-top: 4rem; 
    margin-bottom: 16.8rem;
  }

  .allblogs-sections-left,
  .allblogs-sections-right {
    display: flex;
    flex-direction: column;
  }

  .allblogs-sections-left {
    gap: 3.2rem;
  }

  .recent-post__title {
    text-align: center;
  }

  .simple-article__image {
    width: 100%;
    max-width: 100%;
  }

  .article_bage {
    font-size: 1.6rem;
  }
  
  .simple-article-info__title {
    font-size: 2rem;
  }

  .simple-article-info__date {
    margin-bottom: 2rem;
  }
}


@media (max-width: 425px) {

  .article-image,
  .article-template__hero-adapt {
    height: 200px !important;
  }

  .article-template {
    background-position: 50% -130%;
  }

  .article-template__content h1:not(:first-child)  {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .article-template__content h1:nth-child(1) {
    font-size: 2.8rem;
  }

  .article-template__content p {
    font-size: 1.8rem;
  }

  .page-width--narrow {
    margin: 4.7rem auto 8rem auto !important;
  }
}

@media (max-width: 375px) {
  .article-template {
    background-position: 50% -60%;
  } 

  .simple-article__image {
    height: 200px;
  }

  .allblogs-sections {
    gap: 8rem;
  }
}