.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-underline-offset: 0.3rem;
}
.list-menu__item{
  text-decoration: none;
}
.list-menu__item span{
  position: relative;
}
.list-menu__item span:before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -3px;
}
.list-menu__item--active span:before{
  background: rgb(var(--color-foreground));
}
.menu-drawer .list-menu__item{
  justify-content: center;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
