/* .pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
} */

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.pagination__list  li {
  border-radius: 100px;
}


.pagination__list a {
  height: 6.4rem;
  width: 6.4rem;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 140%;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  text-decoration: none;
}

.pagination__item.light {
  color: #fff;
  background-color: #283C92;
  border-radius: 100px;
}

.pagination__item.link {
  color: #8A8C90;
  background-color: #F5F6F8;
  border-radius: 100px;
}

.pagination__item-arrow {
  border: 2px solid #283C92;
}

.pagination__item--next svg {
  transform: rotate(180deg);
}

.pagination__item

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

/* .pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
} */

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next {
  margin-right: 2.4rem;
}

.pagination__item--prev {
  margin-left: 2.4rem;
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}


@media (max-width: 989px) {
  .pagination__list a {
    width: 4.8rem;
    height: 4.8rem;
  }

  .article-pagination {
    left: 35%;
    bottom: -10rem;
  }
}

@media (max-width: 425px) {
  .pagination__item--next {
    margin-right: 0;
  }
  
  .pagination__item--prev {
    margin-left: 0;
  }
}