.body-login {
    max-width: 1920px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10.9rem;
    justify-items: center;
    align-items: start;
    align-content: space-evenly;
    justify-content: center;
    padding-right: 32rem;
    padding-left: 32rem;
}
.email-form {
    margin-top: 12rem;
    background-color: #f5f6f8;
    padding: 3rem;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 54rem;
}
.body-contact_left-side-text_title h2 {
    font-family: Poppins;
    width: 24rem;
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 130%;
    color: #283c92;
    margin-bottom: 0;
    margin-top: 0;
}
strong {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    color: #28ACE2;
}
.text-description-left {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 140%;
    max-width: 50.5rem;
    color: #283C92;
}
.page-width-desktop {
    max-width: 66.7%;
    margin: 0 auto;
    padding-bottom: 36rem;
}
.field input {
    padding: 1rem 1.25rem 1rem 5.5rem;
    background: #FFFFFF;
    border-radius: 16px;
    height: 6.4rem;
    max-width: 54rem;
    width: 100%;
}
label.label-for-input {
    position: relative !important;
    margin-bottom: 2rem !important;
    text-align: start !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #525459;
}
button.button-login {
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    width: 15.1rem;
    height: 6.4rem;
    background-color: #283C92;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 140%;
    color: white;
    display: flex;
    column-gap: 0.7rem;
    align-items: center;
    justify-content: center;
}
.body-contact_left-side-placing-email__placing {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    color: #000000;
}
.body-login_left-side {
    width: 48rem;
    margin-top: 17.2rem;
}
button.button-login:after{
    display: none;
}
.button_and_create_account {
    display: flex;
    align-items: center;
}
.contact-form {
    display: none;
}
.field {
    position: relative;
}
span.icon_email_lock {
    position: absolute;
    top: 3.7rem;
    left: 2rem;
}
span.icon_email_eye {
    position: absolute;
    top: 3.7rem;
    right: 2rem;
}