.body-login, .body-register {
    max-width: 1920px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10.9rem;
    justify-items: center;
    align-items: start;
    align-content: space-evenly;
    justify-content: center;
    padding-right: 32rem;
    padding-left: 32rem;
}
.register p {
    margin: 1.5rem 0;
}
.email-form,
.register-form,
.custom-recover_password{
    margin-top: 12rem;
    background-color: #f5f6f8;
    padding: 3rem;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 54rem;
}
.body-contact_left-side-text_title h2 {
    font-family: Poppins;
    width: 24rem;
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 130%;
    color: #283c92;
    margin-bottom: 0;
    margin-top: 0;
}
strong {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 5.6rem;
    color: #28ACE2;
}
.text-description-left {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 140%;
    max-width: 50.5rem;
    color: #283C92;
    margin: 0;
}
.page-width-desktop {
    max-width: 66.7%;
    margin: 0 auto;
    padding-bottom: 36rem;
}
.field input {
    padding: 1rem 1.25rem 1rem 5.5rem;
    background: #FFFFFF;
    border-radius: 16px;
    height: 6.4rem;
    max-width: 54rem;
    width: 100%;
}
.label-for-input {
    position: relative !important;
    margin-bottom: 2rem !important;
    text-align: start !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem !important;
    line-height: 150% !important;
    color: #525459 !important;
}
button.button-login {
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    width: 16.5rem;
    height: 6.4rem;
    background-color: #283C92;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 140%;
    color: white;
    display: flex;
    column-gap: 0.7rem;
    align-items: center;
    justify-content: center;
}
.body-contact_left-side-placing-email__placing {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    color: #000000;
}
.body-login_left-side {
    width: 48rem;
    margin-top: 17.2rem;
}
button.button-login:after{
    display: none;
}
.button_and_create_account {
    display: flex;
    align-items: center;
}
.contact-form {
    display: none;
}
.field {
    position: relative;
}
span.icon_email_lock {
    position: absolute;
    top: 6.4rem;
    left: 2rem;
}
.icon_email_lock_recover {
    position: absolute;
    top: 2.4rem;
    left: 2rem;
}

span.icon_email_eye {
    position: absolute;
    top: 6.4rem;
    right: 2rem;
}
span.icon-close-password {
    position: absolute;
    top: 6.4rem;
    right: 2rem;
    display: none;
}
.continue-with_google {
    background-color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 140%;
    color: #000;
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    width: 29.3rem;
    height: 6.4rem;
    border: 2px solid #DEDFE4;
    border-radius: 100px;
    justify-content: center;
}
.icon-lock-red {
    display: none;
    position: absolute;
    top: 6.4rem;
    left: 2rem;
}
p.text-description-left {
    margin: 0;
}
.error-message {
    padding-top: 0.8rem;
    padding-left: 1.5rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: self-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 160%;
    color: #525459;
}