/* Instruction */
.instruction-section{
    padding-bottom: 15rem;
}
.instruction-section__blocks{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
}
.instruction-section.background-margin{
    padding-bottom: 24rem;
    margin-bottom: -7.5rem;
    position: relative;
}
.instruction-section .description-block{
    background: #F5F6F8;
    border-radius: 32px;
    padding: 4rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 170%;
    width: 50%;
    max-width: 62rem;
}
.instruction-section .description-block br{
    display: none;
}
.instruction-section p{
    margin: 0;
}
.instruction-section .subtitle{
    font-weight: 600;
    letter-spacing: normal;
    font-size: 3.2rem;
    line-height: 140%;
    color: #283C92;
}
.instruction-section .description-block a{
    margin: 0;
    color: #28ACE2;
    text-decoration: none;
}
.instruction-section .h2{
    margin: 0 0 1.2rem;
}
.index .instruction-section .instruction-section__content{
    max-width: 52rem;
}
.instruction-section .instruction-section__content{
    width: 50%;
    max-width: 47rem;
}
.instruction-section .instruction-section__content .text{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    margin: 1.2rem 0 0;
}
.instruction-section__content .btn-primary{
    margin-bottom: 2.4rem;
}
.instruction-section__content .btn-secondary{
    margin-top: 4rem;
}
.instruction-section__content h5{
    margin: 0 0 1.6rem;
}
.instruction-section__content h5 p{
    margin: 0;
}
@media only screen and (max-width: 989px) {
    .instruction-section{
        padding-bottom: 8rem;
    }
    .instruction-section__content .btn-secondary{
        margin-top: 3.2rem;
    }
    .instruction-section__content h5 p{
        font-size: 2rem;
        line-height: 130%;
        text-align: center;
    }
    .instruction-section__blocks{
        flex-direction: column;
        gap: 3.2rem;
    }
    .instruction-section .instruction-section__content{
        width: 100%;
        max-width: 100%;
    }
    .instruction-section .description-block{
        width: 100%;
        max-width: 100%;
        font-size: 1.8rem;
        padding: 2rem;
    }
    .instruction-section.background-margin{
        padding-bottom: 15rem;
    }
    .instruction-section .instruction-section__content .text{
        text-align: center;
        font-size: 1.6rem;
        line-height: 160%;
        margin-top: 2rem;
    }
}

/* Product Purchase */
.product-purchase__container{
    padding: 15rem 0;
}
.product-purchase__container .content-wrapper{
    background: #283C92;
    display: flex;
    align-items: center;
    padding: 8rem;
    gap: 4rem;
    border-radius: 32px;
}
.product-purchase__container .h2{
    color: #fff;
    margin: 0 0 1.6rem;
}
.product-purchase__container .text{
    color: #fff;
    margin: 0 0 4rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 170%;
    max-width: 50rem;
}
.product-purchase__container .text p{
    margin: 0;
    line-height: 170%;
}
.product-purchase__container .swiper-js{
    max-width: 54rem;
}
.product-purchase__container img{
    background: #FFFFFF;
    border-radius: 32px;
    max-height: 43rem;
    height: auto;
    object-fit: contain;
}
.product-purchase__container .btn-secondary{
    outline: 2px solid #FFFFFF;
    border-radius: 100px;
}
.product-purchase__container .content-wrapper__text{
    max-width: 54rem;
}
.product-purchase__container .swiper-button-next, .product-purchase__container .swiper-button-prev{
    bottom: 33px;
    top: initial;
}
.product-purchase__container .swiper-button-next{
    right: 32px;
    left: initial;
}
.product-purchase__container .swiper-button-prev{
    left: 32px;
    right: initial;
}
.product-purchase__container .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 45px;
}
@media only screen and (max-width: 989px) {
    .product-purchase__container{
        padding: 8rem 0;
    }
    .product-purchase__container .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 13px;
    }
    .product-purchase__container .content-wrapper{
        padding: 2rem;
        flex-direction: column;
        gap: 5rem;
    }
    .product-purchase__container .swiper-js{
        max-width: 100%;
    }
    .product-purchase__container .text{
        text-align: center;
        margin: 0 auto 3.2rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
        width: 90%;
    }
    .product-purchase__container img{
        max-height: 21.6rem;
    }
    .product-purchase__container .swiper-button-prev, .product-purchase__container .swiper-button-next{
        display: none;
    }
}
/* Text With Image */
.text-with-image{
    background: #F5F6F8;
    padding: 15rem 0; 
}
.text-with-image .h2{
    margin: 2.4rem 0;
    max-width: 62rem;
}
.text-with-image .text{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    margin: 1.6rem 0 0;
}
.text-with-image .btn-secondary{
    margin-top: 4rem;
}
.text-with-image .text p{
    max-width: 56.3rem;
    margin: 0;
}
.text-with-image__wrapper{
    display: flex;
    gap: 4.5rem;
    align-items: center;
    justify-content: space-between;
}
.text-with-image__wrapper img{
    max-width: 62rem;
    border-radius: 32px;
    width: 100%;
}
.text-with-image__wrapper .h5{
    margin: 0;
    max-width: 55rem;
}
@media only screen and (max-width: 989px) {
    .text-with-image .h2{
        margin: 2.4rem auto;
        max-width: 30rem;
    }
    .text-with-image .text{
        margin: 0;
    }
    .text-with-image__wrapper img{
        height: 27rem;
    }
    .text-with-image{
        padding: 12rem 0 8rem;
    }
    .text-with-image__wrapper{
        flex-direction: column;
        gap: 3.2rem;
    }
    .text-with-image__wrapper img{
        width: 100%;
        object-fit: cover;
    }
}
/* Image Banner */
.background-image-header{
    max-width: 76.7rem;
    margin: 0 auto 8rem;
    text-align: center;
}
.background-image-header .btn-primary{
    margin: 0 auto 2.4rem;
}
.background-image-header .h2{
    margin: 0 auto;
}
.background-image-header .description{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    color: #21272A;
    margin: 1.6rem 0 0;
}
.background-image-header .h2{
    margin: 0 auto;
}
.background-image-container{
    position: relative;
}
.white_wave{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.image-banner{
    height: 108rem;
    display: block !important;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 989px) {
    .background-image-header{
        margin: 0 auto 3.2rem;
    }
    .background-image-header .description{
        font-size: 1.6rem;
        line-height: 160%;
    }
    .image-banner{
        height: 33.7rem;
    }
    .white_wave{
        height: 4.5rem;
    }
}