.index .header-wrapper{
    background: #F1FCFF;
}
.main-banner{
    padding: 130px 0 260px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.main-banner h1{
    font-weight: 600;
    font-size: 72px;
    line-height: 110%;
    margin: 0 0 32px;
    color: #283C92;
}
.main-banner h1 p{
    margin: 0;
}
.main-banner strong{
    color: #28ACE2;
    font-weight: 600;
}
.main-banner .description{
    font-weight: 500;
    font-size: 21px;
    line-height: 160%;
    color: #283C92;
    margin: 0 0 32px;
    max-width: 450px;
}
.main-banner .wrapper-image{
    display: flex;
    gap: 16px;
}
.main-banner .wrapper-image img{
    max-width: 180px;
}
.main-banner .main-banner__container{
    display: flex;
    gap: 110px;
    position: relative;
}
.main-banner .main-banner__text{
    max-width: 660px;
}
.main-banner .main-banner__image{
    max-width: 510px;
}
.main-banner .main-banner__image img{
    max-width: 100%;
}
.main-banner .main-banner__fixed{
    position: absolute;
    left: 43%;
    bottom: 0;
    bottom: -110px;
}
.main-banner .circle-background{
    background: #D7F3FF;
    border-radius: 100%;
    width: 338px;
    height: 338px;
    position: relative;
}
.main-banner .main-photo{
    transform: rotate(-13.59deg);
    max-width: 280px;
}
.main-banner .second-photo{
    position: absolute;
    top: -80px;
    left: 80px;
    max-width: 80px;
}
/* benefits */
.our-benefits{
    padding: 150px 0 160px;
}
.our-benefits .title {
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #283C92;
    margin: 0 0 24px;
}
.our-benefits .title strong{
    color: #28ACE2;
}
.title-description p{
    margin: 0;
}
.title-description{
    max-width: 765px;
    margin: 0 auto;
    text-align: center;
}
.our-benefits .text{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #000000;
}
.our-benefits__blocks{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.our-benefits__blocks .block-text{
    background: #F5F6F8;
    border-radius: 32px;
    padding: 40px;
    height: fit-content;
}
.our-benefits__blocks .block-text img{
    max-width: 64px;
    max-height: 64px;
}
.our-benefits__blocks .block-heading{
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    margin: 20px 0 16px;
    max-width: 233px;
}
.our-benefits__blocks p{
    margin: 0;
}
.our-benefits__blocks .block-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    margin: 0;
}
/* Info Section */
.info-section{
    padding: 150px 0 260px;
    color: #fff;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.info-section__blocks{
    display: flex;
    justify-content: space-between;
}
.info-section .first_block, .info-section .second_block{
    width: 50%;
}
.info-section .first_block{
    text-align: center;
}
.info-section .second_block .btn-green{
    background: #339999;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 10px 20px;
}
.info-section .first_block h6{
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
}
.info-section .first_block h6 strong{
    color: #F8989E;
}
.info-section .first_block p, .first_block h6{
    margin: 0;
}
.info-section .years_block{
    max-width: 400px;
    margin: 100px auto 0;
}
.info-section .content-way{
    margin: 0 auto 16px;
    display: flex;
    justify-content: space-between;
    max-width: 310px;
}
.info-section .content-date{
    display: flex;
    justify-content: space-between; 
}
.info-section .content-date p{
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
}
.info-section .content-way small{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 9px solid;
    display: block;
}
/* Image Banner */
.image-banner{
    height: 90vh;
    display: block !important;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 1080px;
}