/* Info Section */
.our-product-info{
    padding: 15rem 0 22.4rem;
    color: #fff;
    margin-bottom: -7.5rem;
    position: relative;
}
.our-product-info .info-section__blocks{
    display: flex;
    justify-content: space-between;
    gap: 11rem;
}
.our-product-info .first_block{
    padding: 4rem;
    background: #647BDF;
    border-radius: 32px;
    width: 62rem;
}
.our-product-info .first_block >*{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 170%;
    margin: 0;
}
.our-product-info .first_block p{
    margin: 0;
}
.our-product-info .second_block .text{
    font-weight: 600;
    letter-spacing: normal;
    font-size: 3.2rem;
    line-height: 140%;
    max-width: 55rem;
    margin: 0;
}
.our-product-info .second_block .text br{
    display: none;
}
.our-product-info .second_block .text strong{
    color: #F8989E;
}
.our-product-info .second_block p, .our-product-info ..second_block h6{
    margin: 0;
}
.our-product-info .years_block{
    max-width: 40rem;
    margin: 10rem 0 0;
}
.our-product-info .content-way{
    margin: 0 auto 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 31rem;
}
.our-product-info .second_block .h2{
    margin: 2.4rem 0 4rem;
    color: #fff;
}
.our-product-info .text{
    max-width: 53.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 170%;
}
.our-product-info .text p{
   margin: 0;
}
@media only screen and (max-width: 989px) {
    .our-product-info .info-section__blocks{
        flex-direction: column;
        gap: 3.2rem;
    }
    .our-product-info .first_block{
        width: 100%;
        padding: 2rem;
    }
    .our-product-info .second_block{
        width: 100%;
        text-align: center;
    }
    .our-product-info{
        padding: 8rem 0
    }
    .our-product-info .second_block .text{
        font-weight: 500;
        font-size: 2rem;
    }
    .our-product-info .first_block h6{
        font-size: 1.61rem;
        margin: 0 auto;
        font-weight: 400;
        line-height: 160%;
    }
    .our-product-info .second_block .h2{
        margin: 2rem 0;
    }
}
/* Text Image */
.text-with-image__wrapper .h2{
    margin: 2.4rem 0 1.2rem;
}
.text-with-image .text p{
    max-width: 61rem;
}
@media only screen and (min-width: 990px){
    .text-with-image .text-with-image__wrapper{
        flex-direction: row-reverse;
        gap: 15rem;
    }
    .text-with-image .text-with-image__wrapper img{
        max-width: 51rem;
        height: 45.4rem;
    }
    .text-with-image__wrapper .h2{
        max-width: 40rem;
    }
}
@media only screen and (max-width: 989px){
    .text-with-image__wrapper .h2{
        margin: 2.4rem auto 1.2rem;
    }
    .text-with-image__wrapper .h5{
        text-align: center;
        margin-bottom: 3.2rem;
    }
}

/* Become Block */

.become-block{
    background: #F0FBFF;
    border-radius: 32px;
    padding: 8rem;
    margin-bottom: 15rem;
}
.become-block .become-block__flex{
    display: flex;
}
.become-block .block-text{
    width: 50%;
    text-align: center;
}
.become-block .h5{
    line-height: 140%;
    color: #28ACE2;
    margin: 0 0 4rem;
}
.become-block a{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283C92;
    border: 2px solid #283C92;
    border-radius: 100px;
    padding: 1.7rem 4.1rem;
    gap: 8px;
    max-width: max-content;
    text-decoration: none;
    margin: 0 auto;
}
.become-block .btn-secondary span{
    display: flex;
}
@media only screen and (max-width: 989px){
    .become-block{
        background: none;
        padding: 0;
        margin-bottom: 8rem;
    }
    .become-block .block-text{
        width: 100%;
        background: #F5F6F8;
        border-radius: 32px;
        padding: 4rem;
    }
    .become-block .become-block__flex{
        flex-direction: column;
        gap: 2rem;
    }
    .become-block .h5{
        line-height: 140%;
        color: #28ACE2;
        margin: 0 0 2rem;
    }
}
/* FAQ */
.faq-section{
    margin-bottom: 19rem;
    padding: 0 11rem;
}
.faq-section .faq-block__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.faq-section h3{
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 135%;
    text-align: center;
    color: #283C92;
    margin: 0 0 4rem;
}
.faq-section .faq-block{
    padding: 2rem 2rem 2rem 3.2rem;
    background: #F5F6F8;
    border-radius: 16px;
}
.faq-section .faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-section .faq-question h6{
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 160%;
    margin: 0;
}
.faq-section .faq-question small{
    border: 2px solid #283C92;
    border-radius: 100px;
    height: 4rem;
    width: 4rem;
    position: relative;
    transition: all .3s ease-in-out;
}
.faq-section .faq-question small:after{
    content: "";
    position: absolute;
    height: 2px;
    background: #283C92;
    width: 15px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.faq-section .faq-question small:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    background: #283C92;
    height: 15px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.faq-section .faq-question:hover small{
    transform: rotate(180deg);
}
.faq-section .faq-answer{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    color: #525459;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    margin: 0;
    max-width: 98%;
}
.faq-section .faq-answer p{
    margin: 0;
}
.faq-section .faq-block.active .faq-answer{
    margin: 2rem 0 0;
    max-height: 900px;
}
.faq-section .faq-block.active small:before{
    opacity: 0;
}
@media only screen and (max-width: 989px){
    .faq-section{
        padding: 0;
        margin-bottom: 8rem;
    }
    .faq-section .faq-question h6{
        font-size: 2rem;
        line-height: 140%;
        width: calc(100% - 60px);
    }
    .faq-section .faq-block{
        padding: 2rem;
    }
    .faq-section .faq-answer{
        font-size: 1.6rem;
        max-width: 100%;
    }
    .faq-section h3{
        font-size: 2.8rem;
        line-height: 130%;
        margin-bottom: 3.2rem;
    }
}
/* Grid Installation */
.grid-installation{
    padding: 12rem 0 0;
}
.grid-installation .h2{
    margin: 0 auto 1.6rem;
    max-width: 40rem;
}
.grid-installation .text{
    margin: 2rem auto 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    max-width: 60rem;
}
.grid-installation .text p{
    margin: 0;
    color: #525459;
}
.grid-installation .title-description{
    margin-bottom: 8rem;
    text-align: center;
}
.grid-installation .grid-installation__btn-wrapper{
    display: flex;
    gap: 1.6rem;
    margin-top: 4rem;
    justify-content: center;
}
.grid-installation .grid-installation__btn-wrapper .white-background{
    outline: 2px solid #283C92;
    background: none;
    color: #283C92;
}
.grid-installation .grid-installation__blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    flex-wrap: wrap;
}
.grid-installation .block-text{
    width: calc(50% - 2rem);
    padding: 4rem;
    outline: 2px solid #DEDFE4;
    border-radius: 32px;
}
.grid-installation .number{
    background: #F0FBFF;
    border-radius: 100px;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 140%;
    color: #283C92;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-installation .image-container{
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}
.grid-installation .image-container img{
    width: calc(50% - 1rem);
    border-radius: 20px;
    object-fit: cover;
    height: 20rem;
}
.grid-installation .flex-content, .grid-installation .flex-content_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-installation .flex-content_heading{
    gap: 1.6rem;
}
.grid-installation .block-heading{
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 140%;
    color: #283C92;
    margin: 0;
    display: inline-block;
}
@media only screen and (max-width: 989px){
    .grid-installation .grid-installation__btn-wrapper{
        flex-direction: column;
    }
    .grid-installation{
        padding: 8rem 0 0;
    }
    .grid-installation .grid-installation__blocks{
        gap: 3.2rem;
    }
    .grid-installation .block-text{
        width: 100%;
        padding: 2rem;
    }
    .grid-installation .block-heading{
        font-size: 2rem;
        line-height: 130%;
    }
    .grid-installation .text{
        font-size: 1.6rem;
        line-height: 160%;
    }
    .grid-installation .btn-primary{
        margin: 0;
    }
    .grid-installation .flex-content{
        flex-direction: column;
        align-items: baseline;
        gap: 1.6rem;
    }
}
@media only screen and (max-width: 600px){
    .grid-installation .image-container{
        flex-direction: column;
        margin-bottom: 3.2rem;
    }
    .grid-installation .image-container img{
        width: 100%;
    }
}

#shopify-section-template--14404173529134__166383686926e73919 .instruction-section .description-block{
    max-width: 51rem;
}
#shopify-section-template--16538792624373__1663836676d03533fb .instruction-section {
    padding: 15rem 0;
}
@media only screen and (max-width: 989px){
    #shopify-section-template--16538792624373__1663836676d03533fb .instruction-section{
        padding: 8rem 0;
    }
}

/* Banner */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}
.our-product-banner{
    padding: 15rem 0;
}
.our-product-banner .h2{
    margin: 0 0 3.2rem;
}
.our-product-banner .h2 p{
    margin: 0;
}
.our-product-banner .our-product-banner__container{
    display: flex;
    justify-content: space-between;
}
.our-product-banner .our-product-banner__text{
    max-width: 48rem;
}
.our-product-banner .our-product-banner__position{
    max-width: 62rem;
}
.our-product-banner .our-product-banner__position img{
    max-width: 100%;
}
@media only screen and (max-width: 989px){
    .our-product-banner .our-product-banner__container{
        flex-direction: column;
    }
    .our-product-banner{
        padding: 8rem 0;
    }
    .our-product-banner .our-product-banner__text{
        margin-bottom: 3.2rem;
    }
}

#shopify-section-template--16538792624373__166383686926e73919 .instruction-section .instruction-section__content .text{
    text-align: initial;
}
#shopify-section-template--16538792624373__166383686926e73919 .instruction-section .instruction-section__content{
    width: 52%;
    max-width: 70rem;
}
#shopify-section-template--16538792624373__166383686926e73919 .instruction-section .description-block{
    width: 48%;
    max-width: 51rem;
}
@media only screen and (max-width: 989px) {
    #shopify-section-template--16538792624373__166383686926e73919 .instruction-section .instruction-section__content,  #shopify-section-template--14412586450990__166383686926e73919 .instruction-section .description-block{
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 989px) {
    html{
        scroll-padding-top: 10rem;
    }
    .our-product .image-wrapper-mobile{
        display: block !important;
    }
    .our-product .image-wrapper{
        display: none;
    }
    .our-product .text{
        margin-top: 2rem;
        font-size: 1.6rem;
        line-height: 160%;
    }
    .our-product .instruction-section .instruction-section__content .btn-secondary{
        display: none;
    }
}