.contact-form{
  padding: 150px 0 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: -75px;
  position: relative;
}
.contact-form label{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #D2E8E8;
  margin: 0 0 4px 16px;
}
.checkbox-contact input{
  display: none;
}
<<<<<<< HEAD
.checkbox-contact label{
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.contact-form input, .contact-form textarea, .contact-form select{
  padding: 1.6rem 2rem 1.6rem 5.6rem;
=======
.contact-form input, .contact-form textarea{
  padding: 16px 20px 16px 56px;
>>>>>>> 7133d9711f85d0c68f7a733075a17bec1a0efb37
  background: #FAFAFA;
  border-radius: 16px;
  height: 6.4rem;
<<<<<<< HEAD
  width: 100%;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
}
.contact-form select{
  padding: 2rem;
=======
>>>>>>> 7133d9711f85d0c68f7a733075a17bec1a0efb37
}
.title{
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  color: #fff;
  margin: 0 0 40px;
}
.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}
<<<<<<< HEAD
.button-contact{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 1.4rem 3.2rem;
  background: none;
}
.contact__button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__fields .main-fields{
  width: 40%;
}
.contact__fields .additional-fields{
  width: 59%;
}
.contact__fields .additional-fields .select label{
  opacity: 0;
}
.contact__fields .contact-input-wrapper{
  position: relative;
}
.contact__fields span.icon-E-mail {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
}
.contact__fields span.icon-E-mail svg{
  height: 2.4rem;
  width: 2.4rem;
}
=======

>>>>>>> 7133d9711f85d0c68f7a733075a17bec1a0efb37
@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
<<<<<<< HEAD
@media only screen and (max-width: 989px) {
  .contact__fields .additional-fields .select label{
    margin-bottom: 0;
  }
  .contact-form{
    padding: 8rem 0;
  }
  .contact__fields .main-fields{
    width: 100%;
  }
  .contact__fields .additional-fields{
    width: 100%;
  }
  .contact-form input, .contact-form textarea{
    padding: 1.4rem 2rem 1.4rem 5.4rem;
    height: 6rem;
  }
  .contact-form select{
    padding: 2rem;
  }
  .contact__button{
    margin-top: 2rem;
    flex-direction: column;
    gap: 3.2rem;
  }
  .contact-form .checkbox-contact label:before{
    width: 2rem;
    height: 2rem;
  }
  .contact-form .button-contact{
    width: 100%;
    justify-content: center;
  }
  .contact .field{
    margin-bottom: 2rem;
  }
}
=======
>>>>>>> 7133d9711f85d0c68f7a733075a17bec1a0efb37
