.body-cont {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10.9rem;
}
.body-cont_left-side {
    max-width: 55.1rem;
}
p.body-cont_left-side-placing-email__placing,
p.body-cont_left-side-placing-email__email {
    margin: 0;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 1.6rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 170%;
    color: #000000;

}
textarea {
    resize:none
}
option {
    font-weight: 600;
}
p.text-description-left {
    margin-top: 1.2rem;
    margin-bottom: 4rem;
}
.body-cont_left-side-placing-email {
    background-color: #f5f6f8;
    padding: 3rem;
    border-radius: 32px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3.55rem;
}
.field {
    position: relative;
}
.cont__fields {
    padding: 4rem;
    border-radius: 16px;
    background-color: #f5f6f8;
}
.cont-form {
    padding: 14.4rem 0 22rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.cont-form label {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: #525459;
    margin-left: 1.6rem;
    max-width: 100%;
    display: block;
}
.select_subject {
    margin-left: 2.6rem !important;
}
span.icon-E-mail {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
span.icon-E-mail svg{
    width: 2.4rem;
    height: 2.4rem;
}
.form__label {
    display: block;
    margin-bottom: 0;
}
#ContactForm-body {
    max-height: 18.6rem;
    height: 100%;
    max-width: 54rem;
}
.cont-form input, .cont-form textarea{
    padding: 1.6rem 2rem 1.6rem 5.6rem;
    background: #FFFFFF;
    border-radius: 16px;
    height: 6.4rem;
    max-width: 54rem;
    width: 100%;
    font-size: 1.8rem;
}
.select_option {
    position: relative;
}
.select_option:after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.91016 9.56519L11.6493 15.3043L17.3884 9.56519' stroke='black' stroke-width='1.91304' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    font-size: 12px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    border: none;
}
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select_in-form__cont {
    font-weight: 600;
    border: none;
    border-radius: 16px;
    height: 6.4rem;
    width: 100%;
    padding: 1rem 1.25rem 1rem 1.5rem;
    font-size: 1.8rem;
}
.cont .form__message {
    align-items: flex-start;
}

.cont .icon-success {
    margin-top: 0.2rem;
}

.cont .field {
    margin-bottom: 1.5rem;
}
.select_option {
    margin-bottom: 1.5rem;
}
.body-cont_left-side-text_title h2 {
    max-width: 33rem;
    margin-bottom: 0;
    margin-top: 0;
}
.body-cont_left-side-text_title h2 p{
    margin: 0;
}
.body-cont_left-side-placing-email__placing  span {
    display: flex;
}
.text-description-left {
    max-width: 50.5rem;
}
.cont {
   width: 62rem;
}
.cont .btn-secondary {
    margin-top: 2rem;
    border: none;
    width: 100%;
    max-width: 32rem;
    height: 6.4rem;
    justify-content: center;
}
@media screen and (max-width: 989px) {
    .cont-form input, .cont-form textarea, select{
        font-size: 1.6rem;
        font-weight: 500;
    }
    .body-cont_left-side-text_title {
        text-align: center;
    }
    .body-cont_left-side-placing-email {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .body-cont_left-side-text {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .select:after {
        padding: 0 8px;
        font-size: 21px;
        right: 2rem;
        top: 4.5rem;
        width: 4%;
        height: 80%;
    }
    .body-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
    .body-cont_left-side-text_title h2 {
        margin-right: auto;
        margin-left: auto;
        font-size: 3.8rem;
        max-width: 20rem;
    }

    .body-cont_left-side {
        margin-bottom: 6.4rem;
    }
    .text-description-left {
        text-align: center;
    }
    .cont-form {
        padding: 3.2rem 0 0rem;
    }
    .text-description-left {
        max-width: 100%;
        font-weight: 500;
    }
    .select_in-form__cont {
        max-width: 54rem;
        width: 100%;
        margin: 0;
    }
    .select_subject {
        margin-left: 1.6rem !important;
    }
    .cont {
        width: 100%;
        background: #F5F6F8;
        padding: 4rem 2rem 15rem;
    }
    .cont__fields {
        padding: 2rem;
    }
    .select:after {
        padding: 0 8px;
        font-size: 21px;
        right: 4rem;
        top: 4.5rem;
        width: 4%;
        height: 80%;
    }
    .cont .btn-secondary {
        margin-top: 1.7rem;
        max-width: max-content;
    }
    .body-cont_left-side-placing-email {
        row-gap: 2rem;
    }
    .cont__fields {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        border-radius: 16px;
        background-color: #f5f6f8;
        width: 100%;
    }
    .cont-form label {
        font-size: 1.6rem;
    }
    p.body-cont_left-side-placing-email__placing,
    p.body-cont_left-side-placing-email__email {
        font-size: 1.8rem;
    }
}