.contact-form{
  padding: 15rem 0 17rem; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  background-color: #339999;
}
.contact-form label{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #D2E8E8;
  margin: 0 0 .4rem 1.6rem;
}
.contact-form .checkbox-contact label:before{
  content: '';
  padding: 7px;
  position: relative;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-flex;
  margin-right: 1rem;
}
.checkbox-contact{
  display: flex;
}
.contact-form input[type=checkbox]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: .6rem;
  left: .8rem;
  width: .7rem;
  height: 1.1rem;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(44deg);
}
.contact-form .checkbox-contact input{
  display: none;
}
.checkbox-contact label{
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-form input, .contact-form textarea, .contact-form select{
  padding: 1.6rem 2rem 1.6rem 5.6rem;
  background: #FAFAFA;
  border-radius: 1.6rem;
  height: 6.4rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
}
.contact-form select{
  cursor: pointer;
  padding: 2rem;
}
.contact-form textarea{
  padding: 2rem;
}
.contact .h2{
  color: #fff;
  margin: 0 0 4rem;
}
.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}
.select:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.91016 9.56519L11.6493 15.3043L17.3884 9.56519' stroke='black' stroke-width='1.91304' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  font-size: 12px;
  position: absolute;
  right: 2rem;
  top: 4.5rem;
  z-index: 1;
  text-align: center;
  width: 22px;
  height: 23px;
}
@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}
.button-contact{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 1.4rem 3.2rem;
  background: none;
}
.contact__button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__fields .main-fields{
  width: 40%;
}
.contact__fields .additional-fields{
  width: 59%;
}
.contact__fields .additional-fields .select label{
  opacity: 0;
}
.contact__fields .contact-input-wrapper{
  position: relative;
}
.contact__fields span.icon-E-mail {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
}
.contact__fields span.icon-E-mail svg{
  height: 2.4rem;
  width: 2.4rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (min-width: 990px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 990px) {
  .contact__fields {
    display: flex;
    column-gap: 4rem;
  }
}
@media only screen and (max-width: 989px) {
  .contact-form{
    padding: 8rem 0 12rem;
  }
  .contact__fields .main-fields{
    width: 100%;
  }
  .contact__fields .additional-fields{
    width: 100%;
  }
  .contact-form input{
    padding: 1.4rem 2rem 1.4rem 5.4rem;
    height: 6rem;
    font-size: 1.6rem;
  }
  .contact-form select{
    padding: 2rem;
    font-size: 1.6rem;
    height: 6rem;
  }
  .contact-form textarea{
    height: 17.5rem;
    font-size: 1.6rem;
  }
  .contact-form input[type=checkbox]:checked+label:after{
    top: 0.4rem;
    left: 0.7rem;
  }
  .contact__button{
    margin-top: 2rem;
    flex-direction: column;
    gap: 3.2rem;
    align-items: initial;
  }
  .contact-form .checkbox-contact label:before{
    width: 2rem;
    height: 2rem;
  }
  .contact-form .button-contact{
    width: 100%;
    justify-content: center;
  }
  .contact .field{
    margin-bottom: 2rem;
  }
}